{% extends 'dashboard_layout.html.twig' %}

{% block content %}
<div>
    <p>id : {{ address.id ?? "NULL" }}</p>
    <p>nbStreet : {{ address.nbStreet }}</p>
    <p>street : {{ address.street }}</p>
    <p>zipCode : {{ address.zipCode }}</p>
    <p>city : {{ address.city }}</p>
    <a href="{{ path('address_edit', {id: address.id}) }}">Edit</a>
    <a href="{{ path('address_index') }}">Back to list</a>
</div>
{% endblock %}