{% extends 'dashboard_layout.html.twig' %}

{% block content %}

    <h1>Edit de l'address n°<span>{{ address.id }}</span></h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
    <a href="{{ path('address_index') }}">Retour</a>

{% endblock %}