{% extends 'dashboard_layout.html.twig' %}

{% block content %}

	<section>
		{% include 'dashboard/components/navbar_component.html.twig' with {
			'title': 'Adresse',
    		'text': 'Cette page vous permet de gérer les adresses. Vous pouvez consulter, ajouter, modifier ou supprimer des adresses selon vos besoins.',
    		'button_text': 'Ajouter une adresse',
    		'button_url': path('address_new')
    	} %}
		<div class="mt-6 hidden md:flex md:flex-col">
			<div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
				<div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
					<table class="min-w-full divide-y divide-gray-300">
						<thead class="bg-gray-50">
							<tr>
								{% for column in ['Id', 'Numéro de Rue', 'Rue', 'Code Postal', 'Ville', 'Entreprise', 'Action'] %}
									<th scope="col" class="py-3 px-6 text-left font-semibold text-gray-900">
										{{ column }}
									</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody class="divide-y divide-gray-200 bg-white">
							{% for data in address %}
								<tr>
									<td class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 sm:pl-6">
										<a href="{{ path('address_detail', {'id': data.id}) }}">{{ data.id }}</a>
									</td>
									{% for property in ['nbStreet', 'street', 'zipCode', 'city'] %}
										<td class="whitespace-nowrap px-6 py-4 text-gray-500">
											{{ attribute(data, property)|default('') }}
										</td>
									{% endfor %}
									<td class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 sm:pl-6">
										{% if data.company is not null %}
											<a href="{{ path('dashboard_company_show', {'id': data.company.id}) }}">{{ data.company.name }}</a>
										{% else %}
											Non renseigné
										{% endif %}
									</td>
									<td class="whitespace-nowrap px-6 py-4 text-gray-500">
										<div x-data="{ open: false }" x-on:click.outside="open = false" class="relative inline-block text-left">
											<div x-on:click="open = !open" class="inline-flex w-full">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
											</div>
											<div x-show="open" class="absolute right-0 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none z-10">
												<div class="p-3">
													<a href="{{ path('address_edit', { id: data.id }) }}">Modifier</a>
												</div>
												<div class="p-3">
													<form action="{{ path('address_delete', { id: data.id }) }}" method="post">
														<input type="hidden" name="_method" value="DELETE">
														<button type="submit">Supprimer</button>
													</form>
												</div>
											</div>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
