{% extends 'dashboard_layout.html.twig' %}

{% block content %}

{{ form_start(form) }}
<div class="py-12 px-2 sm:px-20">

	<div class="border-b border-gray-900/10 pb-12">
		<h2 class="text-xl font-semibold leading-7 text-gray-900">Address Information</h2>
		<p class="mt-1 leading-6 text-gray-600">Vous pouvez consulter, ajouter ou modifier vos adresses ici.
			Assurez-vous que vos informations d'adresse sont à jour pour une livraison sans problème.</p>
		<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
			<div class="col-span-3">
				{{ form_row(form.nbStreet) }}</div>
			<div class="col-span-3">
				{{ form_row(form.street) }}</div>
			<div class="col-span-3">
				{{ form_row(form.zipCode) }}</div>
			<div class="col-span-3">
				{{ form_row(form.city) }}</div>
		</div>
	</div>

	<div class="flex justify-end mt-6">
		<div class="space-x-3">
			<a href="{{ path('dashboard_address_index') }}">
				<button type="submit"
					class="relative rounded px-5 py-2.5 overflow-hidden group bg-slate-500 relative hover:bg-gradient-to-r hover:from-slate-500 hover:to-slate-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-slate-400 transition-all ease-out duration-300">
					<span
						class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
					<span class="relative">Annuler</span>
				</button>
			</a>
			<button type="submit"
				class="relative rounded px-5 py-2.5 overflow-hidden group bg-green-500 relative hover:bg-gradient-to-r hover:from-green-500 hover:to-green-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-green-400 transition-all ease-out duration-300">
				<span
					class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
				<span class="relative">Créer</span>
			</button>
		</div>
	</div>


	{{ form_end(form) }}

</div>

{% endblock %}