{% extends 'dashboard_layout.html.twig' %}

{% set componentPath = 'dashboard/company/components/' %}

{% block content %}
    <div class="flex flex-col space-y-2 w-1/2">
        <h2 class="text-3xl font-semibold">Numéro de facture : {{ invoice.billNum }}</h2>
    </div>

    <div class="p-10 space-y-3">
        <p>Type : {{ invoice.type }}</p>
        <p>Nom de la facture :
            <a href="{{ path('dashboard_mission_invoice_show_invoice', {id: mission.id, invoiceId: invoice.id, name: invoice.realFilename}) }}" target="_blank" class="underline opacity-75 hover:opacity-100">
                {{ invoice.realFilename|length > 30 ? invoice.realFilename|slice(0, 30) ~ '...' : invoice.realFilename }}
            </a>
        </p>
        <p>Prix unitaire : {{ invoice.price|number_format(2, ',', ' ') }}€</p>
        <p>Quantité : {{ invoice.quantity|number_format(2, ',', ' ') }} {{ invoice.unit }}</p>
        <p>Total HT : {{ invoice.totalHT|number_format(2, ',', ' ') }}€</p>
        <p>TVA : {{ invoice.tva }}%</p>
        <p>Total TTC : {{ invoice.totalTTC|number_format(2, ',', ' ') }}€</p>
        <p>Typologie de paiement : {{ invoice.paymentTypology }}</p>
        <p>Date d'émission de la facture : {{ invoice.issueDate|date('d/m/Y') }}</p>
        <p>Date limite de paiement de la facture : {{ invoice.deadline|date('d/m/Y') }}
            {% if invoice.deadline %}
                {% if not invoice.paid %}
                    ,
                    {% set remainingDays = (invoice.deadline|date('U') - 'now'|date('U')) / (60 * 60 * 24) %}
                    {% if remainingDays > 0 %}
                        <td class="whitespace-nowrap px-6 py-4 text-gray-500">
                            Temps restant : {{ remainingDays|round(0, 'floor') + 1 }} jour{{ remainingDays > 1 ? 's' : '' }}
                        </td>
                    {% else %}
                        {% set daysLate = ('now'|date('U') - invoice.deadline|date('U')) / (60 * 60 * 24) %}
                        <td class="whitespace-nowrap px-6 py-4 text-red-500">
                            Retard de {{ daysLate|round(0, 'floor') + 1 }} jour{{ daysLate > 1 ? 's' : '' }}
                        </td>
                    {% endif %}
                {% endif %}
            {% else %}
                <td class="whitespace-nowrap px-6 py-4 text-gray-500">Date limite non définie</td>
            {% endif %}
        </p>
        <p>Payé ? :
            {% if invoice.paid == true %}
                <span style="color: green">Oui</span>
            {% else %}
                <span style="color: red">Non</span>
            {% endif %}
        </p>
        {% if invoice.paid == true %}
            <p>
                Date de payement : {{ invoice.paymentDate|date('d/m/Y') }}
            </p>
        {% endif %}
        <p>Crée le : {{ invoice.createdAt|date('d/m/Y H:i:s') }}</p>
        {% if invoice.updatedAt != null %}
            <p>Dernière modification : {{ invoice.updatedAt|date('d/m/Y H:i:s') }}</p>
        {% endif %}

        <embed src="{{ path('dashboard_mission_invoice_show_invoice', {id: mission.id, invoiceId: invoice.id, name: invoice.realFilename}) }}" width="500" height="500" type='application/pdf'>

        <div class="space-x-3 flex">
            <a href="{{ path('dashboard_mission_invoice', {id: mission.id}) }}">
                <div
                        class="relative rounded px-5 py-2.5 overflow-hidden group bg-slate-500 relative hover:bg-gradient-to-r hover:from-slate-500 hover:to-slate-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-slate-400 transition-all ease-out duration-300">
                <span
                        class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                    <span class="relative">Retour</span>
                </div>
            </a>
            {{ include('dashboard/mission/_delete_invoice_form.html.twig') }}
            <a href="{{ path('dashboard_mission_invoice_edit', {id: invoice.id}) }}">
                <div
                        class="relative rounded px-5 py-2.5 overflow-hidden group bg-green-500 relative hover:bg-gradient-to-r hover:from-green-500 hover:to-green-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-green-400 transition-all ease-out duration-300">
                <span
                        class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                    <span class="relative">Modifier</span>
                </div>
            </a>
            <a href="{{ path('dashboard_mission_invoice_show_invoice', {id: mission.id, invoiceId: invoice.id, name: invoice.realFilename}) }}" target="_blank">
                <div
                        class="relative rounded px-5 py-2.5 overflow-hidden group bg-yellow-500 relative hover:bg-gradient-to-r hover:from-yellow-500 hover:to-yellow-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-yellow-400 transition-all ease-out duration-300">
                <span
                        class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                    <span class="relative">Ouvrir la facture</span>
                </div>
            </a>
        </div>

    </div>

{% endblock %}
