{% extends 'dashboard_layout.html.twig' %}

{% block content %}

    <h1>Edit de l'utilisateur <span>{{ person.lastName }} {{ person.firstName }}</span></h1>

    {{ form_start(personForm) }}
    {{ form_widget(personForm) }}
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(personForm) }}
    <a href="{{ path('dashboard_person_index') }}">back to list</a>

{% endblock %}

