{% extends 'dashboard_layout.html.twig' %}

{% block content %}
    <h1>Person home page</h1>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>lastname</th>
                <th>firstname</th>
                <th>phone</th>
                <th>company</th>
                <th>created_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.lastname }}</td>
                    <td>{{ person.firstname }}</td>
                    <td>{{ person.phone }}</td>
                    <td><a href="#">{{ person.company.name }}</a></td>
                    <td>{{ person.createdAt|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('dashboard_person_show', {'id': person.id}) }}">show</a>
                        <a href="{{ path('dashboard_person_edit', {'id': person.id}) }}">edit</a>
                        <a href="{{ path('dashboard_person_delete', {'id': person.id}) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('dashboard_person_new') }}">Create a new person</a>

{% endblock %}