{% extends 'dashboard_layout.html.twig' %}

{% block content %}
<div class="p-10 space-y-3">
    <p>Id : {{ person.id }}</p>
    <p>Nom : {{ person.lastname ?? 'null' }}</p>
    <p>Prénom : {{ person.firstname ?? 'null' }}</p>
    <p>Numéro de téléphone : {{ person.phone ?? 'null' }}</p>
    <p>Entreprise :
        {% if person.company %}
        <a href="{{ path('dashboard_company_show', {id: person.company.id}) }}">{{ person.company.name }}</a>
        {% else %}
        <b style="color: red">Aucune entreprise</b>
        {% endif %}
    </p>
    <p>Crée le : {{ person.createdAt|date('d/m/Y H:i:s') }}</p>
    {% if person.updatedAt != null %}
        <p>Dernière modification : {{ person.updatedAt|date('d/m/Y H:i:s') }}</p>
    {% endif %}
    <div class="space-x-3 flex">
        <a href="{{ path('dashboard_person_index') }}">
            <div
                class="relative rounded px-5 py-2.5 overflow-hidden group bg-slate-500 relative hover:bg-gradient-to-r hover:from-slate-500 hover:to-slate-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-slate-400 transition-all ease-out duration-300">
                <span
                    class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                <span class="relative">Retour</span>
            </div>
        </a>
        {{ include('dashboard/person/_delete_form.html.twig') }}
        <a href="{{ path('dashboard_person_edit', {id: person.id}) }}">
            <div
                class="relative rounded px-5 py-2.5 overflow-hidden group bg-green-500 relative hover:bg-gradient-to-r hover:from-green-500 hover:to-green-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-green-400 transition-all ease-out duration-300">
                <span
                    class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                <span class="relative">Modifier</span>
            </div>
        </a>
    </div>
</div>
{% endblock %}
