{% extends 'dashboard_layout.html.twig' %}

{% block content %}
    <div>
        <p>id : {{ person.id }}</p>
        <p>lastname : {{ person.lastname }}</p>
        <p>firstname : {{ person.firstname }}</p>
        <p>phone : {{ person.phone }}</p>
        <p>company : <a href="#">{{ person.company.name }}</a></p>
        <p>created_at : {{ person.createdAt|date('d/m/Y H:i:s') }}</p>
    </div>
    <a href="{{ path('dashboard_person_edit', {id: person.id}) }}">Edit</a>
    <a href="{{ path('dashboard_person_index') }}">Back to list</a>
    {{ include('dashboard/person/_delete_form.html.twig') }}
{% endblock %}

