{% extends 'dashboard_layout.html.twig' %}

{% set componentPath = 'dashboard/company/components/' %}

{% block content %}

    <section>
        {% include 'dashboard/components/navbar_component.html.twig' with {
            'title': 'Entreprise',
            'text': 'Cette section vous permet de gérer vos entreprises : consulter, ajouter, modifier ou supprimer des données d\'entreprise selon vos besoins.',
            'button_text': 'Ajouter une entreprise',
            'button_url': path('dashboard_company_new')
        } %}

        <div class="mt-6 hidden md:flex md:flex-col">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                            <tr>
                                {% set columns = {
                                    'Id': 'c.id',
                                    'Nom': 'c.name',
                                    'Adresse': 'a.street',
                                    'Role': 't.label',
                                    'Siège social': 'c.headOffice',
                                    'Créer le': 'c.createdAt'
                                } %}
                                {% for displayedName, realName in columns %}
                                    <th scope="col" class="py-3 px-6 text-left font-semibold text-gray-900">
                                        {{ knp_pagination_sortable(companies, displayedName, realName) }}
                                    </th>
                                {% endfor %}
                                <th scope="col" class="py-3 px-6 text-left font-semibold text-gray-900">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                        {% for company in companies %}
                            <tr class="">
                                <td class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 sm:pl-6">
                                    <a href="{{ path('dashboard_company_show', {'id': company.id}) }}">{{ company.id }}</a>
                                </td>
                                <td class="whitespace-nowrap px-6 py-4 text-gray-500 bg-gray-200">
                                    {{ company.name|default('null') }}
                                </td>
                                <td class="whitespace-nowrap px-6 py-4 text-gray-500">
                                    <a href="{{ path('dashboard_address_show', { id: company.getAddress().getId() }) }}" class="underline opacity-75 hover:bg-gray-100">
                                        {{ company.getAddress().getNbStreet() ~ ' ' ~ company.getAddress().getStreet() ~ ', ' ~ company.getAddress().getZipCode() ~ ' ' ~ company.getAddress().getCity()}}
                                    </a>
                                </td>
                                <td class="whitespace-nowrap px-6 py-4 text-gray-500 bg-gray-200">
                                    {{ company.getType().getLabel() }}
                                </td>
                                <td class="whitespace-nowrap px-6 py-4 text-gray-500">
                                    {% if company.isHeadOffice() == 1 %}
                                        <span class="text-green-600">Oui</span>
                                    {% else %}
                                        <span class="text-red-600">Non</span>
                                    {% endif %}
                                </td>
                                <td class="whitespace-nowrap px-6 py-4 text-gray-500 bg-gray-200">
                                    {{ company.createdAt|date('Y-m-d') }}
                                </td>
                                <td class="whitespace-nowrap px-6 py-4 text-gray-500">
                                    <div class="space-x-1 opacity-80">
                                        <a href="{{ path('dashboard_company_show', { id: company.id }) }}">Détails</a>
                                        <a href="{{ path('dashboard_company_edit', { id: company.id }) }}">Modifier</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ knp_pagination_render(companies, 'dashboard/components/tailwind_pagination.html.twig',
                    {'slidingPagination': false}) }}
            </div>
        </div>
    </section>

{% endblock %}