<aside class = "w-60 -translate-x-48 fixed transition transform ease-in-out duration-1000 z-50 flex h-screen bg-[#1E293B] ">
    <!-- open sidebar button -->
    <div class = "max-toolbar translate-x-24 scale-x-0 w-full -right-6 transition transform ease-in duration-300 flex items-center justify-between border-4 border-white bg-[#1E293B]  absolute top-2 rounded-full h-12">
        <div  class = "flex items-center ml-3 group bg-gradient-to-r from-green-500 pl-10 pr-2 py-1 rounded-full text-white">
            <div class= "transform ease-in-out duration-300 mr-12">
                Dashboard
            </div>
        </div>
    </div>
    <div onclick="openNav()" class = "arrow -right-6 transition transform ease-in-out duration-500 flex border-4 border-white bg-[#1E293B] hover:bg-green-600 absolute top-2 p-3 rounded-full text-white hover:rotate-180 text-white">
        <twig:ux:icon name="fa6-solid:arrow-right" width="16px" height="16px" />
    </div>
    <!-- MAX SIDEBAR-->
    <div class= "max hidden text-white mt-20 flex-col space-y-2 w-full h-[calc(100vh)]">
        <a href="{{ path('dashboard_index') }}">
            <div class =  "hover:ml-4 w-full text-white hover:text-green-500 bg-[#1E293B] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
                <twig:ux:icon name="tabler:home" width="16px" height="16px" />
                <div>
                    Accueil
                </div>
            </div>
        </a>
        <a href="{{ path('dashboard_address_index') }}">
            <div class =  "hover:ml-4 w-full text-white hover:text-green-500 bg-[#1E293B] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
                <twig:ux:icon name="tabler:map-pin" width="16px" height="16px" />
                <div>
                    Adresse
                </div>
            </div>
        </a>
        <a href="{{ path('dashboard_company_index') }}">
            <div class =  "hover:ml-4 w-full text-white hover:text-green-500 bg-[#1E293B] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
                <twig:ux:icon name="tabler:building" width="16px" height="16px" />
                <div>
                    Entreprise
                </div>
            </div>
        </a>
        <a href="{{ path('dashboard_person_index') }}">
            <div class =  "hover:ml-4 w-full text-white hover:text-green-500 bg-[#1E293B] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
                <twig:ux:icon name="tabler:user-square" width="16px" height="16px" />
                <div>
                    Personne
                </div>
            </div>
        </a>
        <a href="{{ path('dashboard_user_index') }}">
            <div class =  "hover:ml-4 w-full text-white hover:text-green-500 bg-[#1E293B] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
                <twig:ux:icon name="tabler:user" width="16px" height="16px" />
                <div>
                    Utilisateur
                </div>
            </div>
        </a>
        <a href="{{ path('dashboard_mission_index') }}">
            <div class =  "hover:ml-4 w-full text-white hover:text-green-500 bg-[#1E293B] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
                <twig:ux:icon name="hugeicons:job-search" width="16px" height="16px" />
                <div>
                    Mission client
                </div>
            </div>
        </a>
        <a href="{{ path('dashboard_supplier_index') }}">
            <div class =  "hover:ml-4 w-full text-white hover:text-green-500 bg-[#1E293B] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
                <twig:ux:icon name="oui:ml-create-population-job" width="16px" height="16px" />
                <div>
                    Mission fournisseur
                </div>
            </div>
        </a>
        <a href="{{ path('app_logout') }}" class="mt-auto mb-4">
            <div class="hover:ml-4 w-full text-white hover:text-green-500 bg-[#1E293B] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
                <twig:ux:icon name="material-symbols:logout" width="16px" height="16px" />
                <div>
                    Logout
                </div>
            </div>
        </a>
    </div>
    <!-- MINI SIDEBAR-->
    <div class= "mini mt-20 flex flex-col space-y-2 w-full h-[calc(100vh)]">
        <a href="{{ path('dashboard_index') }}">
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-green-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex">
                <twig:ux:icon name="tabler:home" width="16px" height="16px" />
            </div>
        </a>
        <a href="{{ path('dashboard_address_index') }}">
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-green-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex">
                <twig:ux:icon name="tabler:map-pin" width="16px" height="16px" />
            </div>
        </a>
        <a href="{{ path('dashboard_company_index') }}">
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-green-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex">
                <twig:ux:icon name="tabler:building" width="16px" height="16px" />
            </div>
        </a>
        <a href="{{ path('dashboard_person_index') }}">
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-green-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex">
                <twig:ux:icon name="tabler:user-square" width="16px" height="16px" />
            </div>
        </a>
        <a href="{{ path('dashboard_user_index') }}">
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-green-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex">
                <twig:ux:icon name="tabler:user" width="16px" height="16px" />
            </div>
        </a>
        <a href="{{ path('dashboard_mission_index') }}">
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-green-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex">
                <twig:ux:icon name="hugeicons:job-search" width="16px" height="16px" />
            </div>
        </a>
        <a href="{{ path('dashboard_supplier_index') }}">
            <div class= "hover:ml-4 justify-end pr-5 text-white hover:text-green-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex">
                <twig:ux:icon name="oui:ml-create-population-job" width="16px" height="16px" />
            </div>
        </a>
        <a href="{{ path('app_logout') }}" class="mt-auto mb-4">
            <div class="hover:ml-4 justify-end pr-5 text-white hover:text-green-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex">
                <twig:ux:icon name="material-symbols:logout" width="16px" height="16px" />
            </div>
        </a>
    </div>
</aside>
