{% block title %}{% endblock %}

{% block content %}
<h1>Address Home Page</h1>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>nbStreet</th>
            <th>street</th>
            <th>zipCode</th>
            <th>city</th>
            <th>company</th>
        </tr>
    </thead>
    <tbody>
        {% for data in address %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.nbStreet }}</td>
            <td>{{ data.street }}</td>
            <td>{{ data.zipCode }}</td>
            <td>{{ data.city }}</td>
            <td>{{ data.company }}</td>
            <td>
                <a href="{{ path('show_address', {'id': data.id}) }}">show</a>
                <a href="{{ path('edit_address', {'id': data.id}) }}">edit</a>
                <a href="{{ path('delete_address', {'id': data.id}) }}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ path('new_address') }}">Create a new address</a>

{% endblock %}