{% block content %}
<div>
    <p>id : {{ address.id }}</p>
    <p>nbStreet : {{ address.nbStreet }}</p>
    <p>street : {{ address.street }}</p>
    <p>zipCode : {{ address.zipCode }}</p>
    <p>city : {{ address.city }}</p>
    <p>company : <a href="#">{{ address.company }}</a></p>
    <a href="{{ path('app_address') }}">Back to list</a>
</div>
{% endblock %}